.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
    padding: 1rem;
}

.createlisting-container {
    width: 60%; 
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns inputs to the left */
    gap: 1rem; /* Space between form elements */
}

.form-input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}

.file-input {
    padding: 0;
}

.form-button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background-color: var(--reggie-red);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-button:hover {
    background-color: var(--reggie-red-hover);
}

.tags-input-container {
    display: flex;
    align-items: center; /* Align the input and button vertically */
    gap: 0.5rem; /* Space between the input and the button */
}

.tags-input-container 
.form-input {
    flex: 1; /* Ensures the input field takes the remaining width */
}

.add-tag-button {
    white-space: nowrap; /* Prevents the button text from wrapping */
    padding: 0.8rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background-color:  var(--reggie-red);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-tag-button:hover {
    background-color: var(--reggie-red-hover);
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag {
    display: inline-flex;
    align-items: center;
    background-color: #e0e0e0;
    border-radius: 4px;
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
}

.remove-tag {
    margin-left: 0.5rem;
    color: var(--reggie-red);
    cursor: pointer;
}

.form-submit-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 4px;
}
