.profile-container {
    padding-left: 200px;
    padding-right: 200px;
}

.logout-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--reggie-red);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: var(--reggie-red-hover);
}