.register-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.form-input {
    margin: 5px;
    padding: 5px;
}