.settings-page {
    margin-left: 100px;
    margin-top: 5px;
}

.logout-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--reggie-red);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: var(--reggie-red-hover);
}

.delete-account-button {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: lightgray;
    color: var(--reggie-red);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.4s ease, color 0.4s;
}

.delete-account-button:hover {
    background-color: var(--reggie-red);
    color: white;
}